@model ContasBancarias.Web.DTOs.ContasDTO

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Conta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <input type="hidden" value="@Model.Id" asp-for="Id" />
            <input type="hidden" value="@Model.EhAtivo" asp-for="EhAtivo" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroConta" class="control-label">Número da Conta</label>
                <input asp-for="NumeroConta" value="@Model.NumeroConta" class="form-control" />
                <span asp-validation-for="NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroAgencia" class="control-label">Número da Agência</label>
                <input asp-for="NumeroAgencia" value="@Model.NumeroAgencia" class="form-control" />
                <span asp-validation-for="NumeroAgencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfOuCnpj" class="control-label"> CPF / CNPJ</label>
                <input asp-for="CpfOuCnpj" value="@Model.CpfOuCnpj" class="form-control" />
                <span asp-validation-for="CpfOuCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeOuRazaoSocial" class="control-label">Nome / Razão Social</label>
                <input asp-for="NomeOuRazaoSocial" value="@Model.NomeOuRazaoSocial" class="form-control" />
                <span asp-validation-for="NomeOuRazaoSocial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BancoId" class="control-label">Nome / Razão Social</label>
                <select asp-for="BancoId" class="form-control">
                    @foreach (var item in Model.Bancos)
                    {
                        if (item.Id == Model.BancoId)
                        {
                            <option selected value="@item.Id">
                                @item.Nome
                            </option>
                        }
                        else
                        {
                            <option value="@item.Id">
                                @item.Nome
                            </option>
                        }

                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>