@model ContasBancarias.Web.DTOs.ContasDTO

@{
    ViewData["Title"] = "Editar";
}
<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item text-dark-blue"><a href="@Url.Action("Cadastrar", "Contas" )">Página principal</a></li>
    <li class="breadcrumb-item active text-dark-blue opacity-75">Editar</li>
</ol>
<h1 class="page-header text-dark-blue">Editar<small></small></h1>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Conta</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand" aria-hidden="true"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo" aria-hidden="true"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus" aria-hidden="true"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Editar">
                        <input type="hidden" value="@Model.Id" asp-for="Id" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NumeroConta" class="control-label">Número da Conta</label>
                            <input asp-for="NumeroConta" value="@Model.NumeroConta" class="form-control" />
                            <span asp-validation-for="NumeroConta" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NumeroAgencia" class="control-label">Número da Agência</label>
                            <input asp-for="NumeroAgencia" value="@Model.NumeroAgencia" class="form-control" />
                            <span asp-validation-for="NumeroAgencia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CpfOuCnpj" class="control-label"> CPF / CNPJ</label>
                            <input asp-for="CpfOuCnpj" value="@Model.CpfOuCnpj" class="form-control" />
                            <span asp-validation-for="CpfOuCnpj" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NomeOuRazaoSocial" class="control-label">Nome / Razão Social</label>
                            <input asp-for="NomeOuRazaoSocial" value="@Model.NomeOuRazaoSocial" class="form-control" />
                            <span asp-validation-for="NomeOuRazaoSocial" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="BancoId" class="control-label">Nome / Razão Social</label>
                            <select asp-for="BancoId" class="form-control">
                                @foreach (var item in Model.Bancos)
                                {
                                    if (item.Id == Model.BancoId)
                                    {
                                        <option selected value="@item.Id">
                                            @item.Nome
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">
                                            @item.Nome
                                        </option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="EhAtivo" class="control-label">Ativo</label>
                            <input type="checkbox" value="@Model.EhAtivo" asp-for="EhAtivo" />
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Editar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Retornar</a>
            </div>
        </div>
</div>