@model IEnumerable<ContasBancarias.Domain.Models.Contas>

@{
    ViewData["Title"] = "Pagina Inicial";
}

<ol class="breadcrumb float-xl-right">
    <li class="breadcrumb-item text-dark-blue"><a href="@Url.Action("Index", "Contas" )">Página principal</a></li>
</ol>
<h1 class="page-header text-dark-blue">Listagem de Contas<small></small></h1>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Listagem</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand" aria-hidden="true"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo" aria-hidden="true"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus" aria-hidden="true"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12 row">
            <div class="col-md-12">
                <a href="@Url.Action("Cadastrar", "Contas" )" class="btn btn-primary float-right"> Cadastrar Conta Bancária </a>
            </div>
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12 row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Ações</th>
                            <th scope="col">Código do Banco</th>
                            <th scope="col">Número da Conta</th>
                            <th scope="col">Número da Agência</th>
                            <th scope="col">Nome / Razão Social</th>
                            <th scope="col">Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Editar", "Contas", new { Id = item.Id })" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Editar" class="btn btn-info"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Deletar", "Contas", new { Id = item.Id })" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Deletar" class="btn btn-info"><i class="fa fa-remove"></i></a>
                                </td>
                                <td>@item.BancoId</td>
                                <td>@item.NumeroConta</td>
                                <td>@item.NumeroAgencia</td>
                                <td>@item.NomeOuRazaoSocial</td>
                                <td>
                                    @if (item.EhAtivo)
                                    {
                                        @:Ativo
                                    }
                                    else
                                    {
                                        @:Inativo
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>